/* #textarea-input {
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

#output {
    border:  1px solid;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
} */




/* actula */
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;700&display=swap');

:root {
    --primary-color: #FBBF24;
    --black: #333333;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--black);
}

/* navigation */

nav {
    background-color: var(--primary-color);
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
}

/* input*/

.main {
    margin: 0px auto;
    padding: 0.5rem;
    max-width: 600px;
}
textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
}

button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    margin: 0.5rem 0rem;
    padding: 1rem 2rem;
    font-size: large;
}

#output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow:scroll;
    border: 1px solid var(--black);
    padding: 1rem; 
    font-size: large;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    text-align: center;
}

footer div{
    font-size: 1.5rem;
    font-weight: bold;
}

footer p {
    max-width: 600px;
    margin: auto;
}